

.head {
    height: 250px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW9uJdbYQkOBrj5VMafN1HuADIxjgVxPCJPQ&usqp=CAU');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      }
  .welcome{
    max-width: 800px;
    margin: 0 auto;
    font-size: x-large;
    color: brown;
  }
header a {
    text-decoration: none;
    color: white; 
    margin-right: 15px; 
  }

  .main{
    display: flex; 
    align-items:right;
 }
 .main h1{
     margin-right: 20px;
 }

 .project{
    flex-grow: 1;
 }
 .project img{
     max-width: 100%
 }
 
 .image{
   
    height: auto;
    max-width: 100%;
    float: right;
    padding: 20px;
    }

#Us{
    font-size: large;
    color: brown;
}
#Us:hover{
    color: aqua;
    
}
#value{
    color: navy;
}
.benefits{
    display: flex;
    justify-content: space-evenly;
}
ol{
    list-style: none;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    color: blue;
   
}

ul{
    list-style: none;
    padding: 0;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

.offer{
    padding-left: 5px;
    color: blueviolet;
}
.program{
    background-color:blueviolet;
    display: block;
    text-align: left;
}

.contact{
    color: green;
    font-size: large;
    padding: 25px opx;

}